@model IPagedList<WebEcommerce.ViewModels.ProductVM>
@using X.PagedList
@using X.PagedList.Mvc.Core
@using System.Globalization
@{
    Layout = "_ProductList";
    ViewData["Title"] = "Sản phẩm";
}
<style>
   


</style>
<!-- Single Page Header start -->
@section BreadCum {
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Sản phẩm</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active text-white">Sản phẩm</li>
        </ol>
    </div>
}
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
@foreach (var i in Model)
{

    <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="rounded position-relative fruite-item">
            <div class="fruite-img">
                <a asp-action="Detail" asp-controller="Product" asp-route-id="@i.Id">

                    <img src="~/thumbnails/@i.Image" class="img-fluid w-100 rounded-top" />
                </a>
            </div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                <h4>@i.Name</h4>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">@WebEcommerce.Common.Common.FormatNumber(i.Price, 0)đ</p>
                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@i.Id" class="btn border border-secondary rounded-pill px-3 text-primary">
                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm vào giỏ
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<div class="card-footer">
    Page @(Model?.PageCount < Model?.PageNumber ? 0 : Model?.PageNumber) of @Model?.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
            new PagedListRenderOptions()
    {
        ContainerDivClasses = new List<string> { "product", "navigation" },
        UlElementClasses = new List<string> { "pagination" },
        LiElementClasses = new List<string> { "page-item", "page-link" },
        ActiveLiElementClass = "active",
    })
</div>
<!-- Fruits Shop End-->